@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #1C1F2B;
    color: #fff;
}


.bar {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400;
}

.option {
    margin: 20px;
    font-size: 22px;
    padding-bottom: 10px;
}

.option:hover{
    cursor: pointer;
}

.stats {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.block {
    width: 100%;
    background-color: rgba(0,0,0,0.15);
    margin: 10px 10px 10px 0px;
    padding: 15px;
    display: table;
    font-size: 1.1em;
}


.infoInBlocks {
    display: table-cell;
    padding: 10px;
}

#userInfo{
    vertical-align: top;
    text-align: center;
    border-right: 2px solid #1C1F2B;
}

#userInfo {
    width: 25%;
    vertical-align: top;
    text-align: center;
    border-right: 2px solid #1C1F2B;
}

.profilePhoto {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 150px;
    width: 150px;
    background: url("https://avatars0.githubusercontent.com/u/31669858?s=460&v=4");
    background-size: contain;
    margin-bottom: 15px;
    border-radius: 100%;
    border: 3px solid #2196f3;
}

.statsElements {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #2196f3;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.valueInfo {
    color: #2196f3;
    font-size: 1.0em;
}

.valueInfo::before {
    content: " ";
}
