*:focus {
    outline: none;
}

a:link {
    text-decoration: none;
    color: #7790c5;
}

a:visited{
    text-decoration: none;
    color: #7790c5;
}

.current {
    /*text-decoration: underline;*/
    /*box-shadow: inset 0 0px 0 #00dcff, inset 0 -3px 0 #00dcff;*/
    padding-bottom: 5px;
}

.currentPage{
    color: #00dcff!important;
}

.currentPage:before{
    content: "./";
}