@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: 'Anonymous Pro', monospace;
    /*background-color: #1C1F2B;*/
    color: #fff;
    text-align: center;
    background: url(Group.png);
}


.inputLogin {
    font-size: 18px;

    background-color: transparent;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  2px solid #2196f3;
}

h3 {
    margin-top: 35px;
}

.submitButton {
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border:  2px solid #2196f3;
    width: 50px;
}

.submitButton:hover {
    background-color: #2196f3;
    color:#282828;
    cursor: pointer;
}
