@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background-color: #282828;
    color: #ffb000;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.inputLogin {
    font-size: 18px;

    background-color: transparent;
    color: #ffb000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  2px solid #ffb000;
}

h3 {
    margin-top: 35px;
}

.submitButton {
    background-color: transparent;
    color: #ffb000;
    padding: 10px;
    border:  2px solid #ffb000;
    width: 50px;
}

.submitButton:hover {
    background-color: #ffb000;
    color:#282828;
    cursor: pointer;
}