.tasks {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;
}

.tableraw {
    display: table-row;
    background-color: #03122f;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 0 25px;
}

.column {
    display: table-cell;
}

.headerCategory {
    background-color: #00dcff;
}

.cell {
    width: 100px;
    padding: 15px;
    /*border: 1px #00dcff solid;*/
    text-align: center;
    margin: 20px;
    font-size: 1.25em;
}

.task:hover {
    cursor: pointer;
    background-color: red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content {

    margin: 10% auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    padding: 0px 15px;
    color: white;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #03122f;
    margin-top: 10px;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    background-color: #03122f;
}

/* The Close Button */
.close {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.close:hover {
    color: #7c7c7c;
    cursor: pointer;
}

#taskName {
    font-size: 1.25em;
}

#taskName:before {
    content: "~/tasks/";
}

#taskDescription {
    width: 90%;
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
}

#taskDescriptionText{
    margin-top: 25px;
    font-size: 1.1em;
}

#attachments {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*display: inline-flex;*/
}

.attachment{
    font-size: 14px;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#flagfield{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-top: 10px;
}

.inputFlag{
    width:100%;
    padding:10px;
    color: black;
    font-style: italic;
}

#sendFlag{
    float:right;
    background-color: #202041;
    margin-top:10px;
    padding: 3px 10px;
    color: #56ea0e;
}

.solved {
    background-color: #00ac27;
}

.payload {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.dataBlock {
    display: table-cell;
    width: 40%;
    padding: 5px;

}

.dataBlock:nth-child(odd){
    border-right: 1px #00dcff dashed;
    padding-right: 45px;
}

.dataBlock:nth-child(even){
    padding-left: 45px;
}

.firstRow {
    padding-bottom: 30px;
}

.secondRow {
    padding: 0!important;
}

.statElement {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    padding: 15px 0;
}

.statElementKey{
    color: #f8e71c;
    margin-right: 30px;
}

.statElementKey:before{
    content: "-> ";
    color: #f8e71c;
}

.statElementValue{
    color:red;
}